!!!
:plain
  <!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
  <!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
  <!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->

%head
  %meta{charset: "utf-8"}
  %meta{name: "HandheldFriendly", content: "True"}
  %meta{name: "MobileOptimized",  content: "320"}
  %meta{name: "viewport",         content: "width=device-width, initial-scale=1"}
  %link{href: "#{config.octopress_href}/favicon.png",             rel: "icon"}
  %link{href: "#{config.octopress_href}/stylesheets/screen.css",  rel: "stylesheet", media: "screen, projection"}
  %script{src: "#{config.octopress_href}/javascripts/modernizr-2.0.js", defer: true}
  %script{src: "#{config.octopress_href}/javascripts/ender.js",         defer: true}
  %script{src: "#{config.octopress_href}/javascripts/octopress.js",     defer: true}

  / Fonts from Google''s Web font directory at http://google.com/webfonts
  %link{href: "http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic", rel: "stylesheet"}
  %link{href: "http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic",  rel: "stylesheet"}

  %title
  %meta{name: "author",      content: ""}
  %meta{name: "description", content: ""}
  %meta{name: "keywords",    content: ""}
  %link{rel: "canonical", href: ""}
  %link{href: "", rel: "alternate", title: "", type: "application/atom+xml"}

%body
  %header{role: "banner"}
    %hgroup
      %h1
        %a{href: "/"}
      %h2
  %nav{role: "navigation"}
    %ul.subscription{"data-subscription" => "rss"}
      %li
        %a{href: "/atom.xml", rel: "subscribe-rss", title: "subscribe via RSS"} RSS
    %form{action: "http://google.com/search", method: "get"}
      %fieldset{role: "search"}
        %input{name: "q", value: "site:", type:"hidden"}
        %input.search{name: "q", results: "0", placeholder: "Search", type: "text"}
    %ul.main-navigation
      %li
        %a{href: "/"} Blog
      %li
        %a{href: "/archives"} Archives
  #main
    #content
      %div
      %aside.sidebar
  %footer{role: "contentinfo"}
  %script{src: "#{config.site_href}/octopress.js", defer: true}

:plain
  </html>
